<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACC - Analysis</title>
</head>
    <body style="background-color:aquamarine">
        <form action="/show-help">
            <input type="submit" value="Help" />
        </form>
        <h1 align="center">Advanced CSV Calculator - Analysis</h1>
        <center>
            <form action="/">
                <input type="submit" value="Return to Home Page"/>
            </form>
        </center>
        <h5 align="center">{{message}}</h5>
        <h3 align="center">What would you like to analyze?</h3>

        <center>
            <form action="/get-mean">
                <input type="submit" value="Calculate Mean"/>
            </form>
            <br/>
            <form action="/get-std-deviation">
                <input type="submit" value="Calculate Standard Deviation"/>
            </form>
            <br/>
            <form action="/get-sum">
                <input type="submit" value="Calculate Sum"/>
            </form>
            <br/>
            <form action="/get-image">
                <input type="submit" value="Png Visualization"/>
            </form>
        </center>
    </body>
</html>