<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ACC</title>
      <style>
      </style>
  </head>
    <body style="background-color:aquamarine">
      <form action="/show-help">
        <input type="submit" value="Help" />
      </form>
      <h1 align="center">Welcome to the "Advanced CSV Calculator"</h1>
      <h5 align="center">Choose a csv file to examine.</h5>
      <center>
        <form method="POST" enctype="multipart/form-data" action="/">
          <input align="center" type="file" name="inputCsv" accept=".csv"/>
          <input align="center" type="submit" value="Examine"/>
        </form>
      </center>
    </body>
</html>