<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PNG Representation</title>
</head>
<body style="background-color:aquamarine">
    <h3 align="center">PNG</h3>
    <h4 align="center">*A row of pixels represents a single entry from the dataset, ordered from top to bottom.</h4>
    <h6 align="center">Minimum (black rows) = {{minimum}}</h6>
    <h6 align="center">Maximum (white rows) = {{maximum}}</h6>
    <center>
        <img src={{img_filepath}}
             alt="Error trying to convert the data to a png representation."
             class="image" />
    </center>

    <form method="POST" action="/">
        <input align="left" type="submit" value="Back"/>
    </form>
</body>
</html>