<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{operation}}</title>
    <style>
          html, body {
                      height: 100%;
                     }

          html {
                display: table;
                margin: auto;
               }

          body {
                display: table-cell;
               }
    </style>
</head>
<body style="background-color:aquamarine">
    <h3>The {{operation}} of the data is:</h3>
    <h1>{{result}}</h1>
</body>
</html>